<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.go_izzah1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".KoreksiActivity"
            android:windowSoftInputMode="adjustResize"></activity>

        <activity android:name=".FurosemidActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".NicardipinActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".NitrogliserinActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".VasconActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".DobutaminActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".MorfinActivity"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".ActivityDopamin"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".TitrasiActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity android:name=".HasilActivity" />
        <activity android:name=".Imt"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HelpActivity"
            android:label="Setting" />
    </application>

</manifest>